/*
* {
	border-style: solid;
	border-width: 2px;
	border-color: red;
}
*/

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	background: url(../img/indexImage.png);
}

/* Header Styles */
#header {
	height: 5%;
	margin-bottom: 0;
}

#navButton {
	background-color: black;
}

#dropdown {
	background-color: #333;
}

/* Main Styles */
.size {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

.paddingTop {
	height: 10%;
	margin: 0;
}

@media screen and (max-width: 500px) {
    .paddingTop {
        height: 60px;
    }
}

@media screen and (max-height: 500px) {
    .paddingTop {
        height: 60px;
    }
}

.mainBox {
	height:90%;
	width: 100%;
	margin: auto;
}

@media screen and (max-width: 500px) {
    .mainBox {
        width: 90%;
    }
}

@media screen and (max-height: 500px) {
    .mainBox {
        width: 90%;
    }
}
.colHeight {
	height: 90%;
	padding: 0;
}

@media screen and (max-width: 500px) {
    .colHeight {
        height: 95%;
    }
}

@media screen and (max-height: 500px) {
    .colHeight {
        height: 85%;
    }
}

.insetBorder {
	border-style: inset;
	border-width: 3px;
}

.outsetBorder {
	border-style: outset;
	border-width: 3px;
}


/* Index Styles */
#titleWidget {
	background: url(../img/projectBG.jpg);
	padding: auto;
	margin: 0 0 0 0;
	text-align: center;
	height: 100%;
	border-radius: 30px;
}

.flipboardRow {
	position: absolute;
	bottom: 5%;
	margin:	auto;
	width: 100%;
}

.flipboard {
	text-align: center;
	background-color: grey;
	padding: auto;
	margin: auto;
	height: 250px;
	width: 700px;
	border-radius: 30px;
}

.flipboardCentered {
	text-align: center;
	width: 25%;;
    margin: 20px auto auto auto;
    float: left;
}

/* Projects Styles */
#projectBox {
	background: url(../img/projectBG.jpg);
	padding: auto;
	margin: 0 0 0 0;
	text-align: center;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	border-radius: 30px;
}

.centeredImage {
    margin: auto;
}

.projectWrap {
	background: url(../img/metal.jpg);
	margin: 10px 40px 10px 40px;
	padding: 10px;
	background-color: grey;
	border-radius: 5px;
}

.projectItem {
	text-align: center;
	margin: 10px auto;
	padding: 0;
	border-color: red;
}

/* About Me Styles */
#mapScrollBox {
	padding: auto;
	margin: 0 0 0 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
	border-radius: 30px;
}

@media screen and (max-height: 500px) {
    #mapScrollBox {
        height: 50%;
    }
}

@media screen and (max-width: 500px) {
    #mapScrollBox {
        height: 50%;
    }
}

#map {
	width: 100%;
	height: 100%;
	border-radius: 30px;
}

/* Contact Me Styles */
#contactBox {
	background: url(../img/projectBG.jpg);
	padding: auto;
	margin: 0 0 0 0;
	text-align: center;
	height: 100%;
	border-radius: 30px;
}

/* Twitter Styles */
#twitter {
	position: absolute;
	right: 0px;
	top: 7%;
	height: 90%;
	margin: 0px 0px 0px 0px;
}

#twitterBox {
	position: absolute;
	top: 0;
	left: 0;
	margin: 50% 5% 0px 5%;
	width: 90%;
	height: 60%;
	text-align: center;
}

#twitterPhone {
	width:	100%;
	height: 100%;
}


#twitterButton {
	height: 50px;
	position: absolute;
	top: 5px;
	right: 5px;
}