/*
* {
	border-style: solid;
	border-width: 2px;
	border-color: red;
}
*/

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	background-color: #FFF;
	background: url(../img/indexImage.png);
}

/* Header Styles */


/* Main Styles */
.size {
	height: 100%;
  	width: 100%;
}

.fullStretch {
	padding: 0px;
	padding: 40px 20px 5px 20px;
}

.insetBorder {
	border-style: inset;
	border-width: 5px 5px 10px 5px;
}

.backgroundSize {
	height: 90%;
}

.padding {
	padding-top: 100px;
	padding-bottom: 0px;
}


/* Index Styles */
.flipboard {
	background-color: grey;
	border-radius: 20px;
	padding: auto;
	margin: auto;
	height: 220px;
	width: 800px;
}

.flipboardCentered {
	text-align: center;
	width: 25%;;
    margin: auto;
    padding: 10px;
    float: left;
}

.paddingBottom {
	padding-bottom: 40px;
}

/* Projects Styles */
#projectBox {
	margin: -20px auto;
	height: 100%;
	width: auto;
	background-color: lightgrey;
	text-align: center;
}

.centered {
    margin: auto;
    padding: auto;
}

.projectWrap {
	margin:20px;
	padding: 20px;
	background-color: darkgrey;
	border-radius: 5px;
}

.projectItem {
	text-align: center;
	margin: 0 auto;
	padding: auto;
}

/* About Me Styles */
#centerRow {
	position: absolute;
	z-index: 1;
	top: 0px;
	bottom: 0px;
	height: 90%;
}

#centerColumn {
	height: 70%;
	top:120px;
	bottom:0;
}

#centerBox {
	background-color: #52527a;
	z-index: 2;
	height: 100%;
	width: 100%;
	border-radius: 25px;
	margin: 10% 0px 0px 0px;
	padding: 5px 5px 55px 5px;
	background: url(../img/indexImage.png);
	border-style: outset;
}

#centerInlay {
	background-color: lightgrey;
	z-index: 3;
	height: 100%;
	width: 100%;
	border-radius: 20px;
	padding: 15px;
	border-style: inset;
}

/* Footer Styles */

#button {
	color: #FFF;
}

.btn {
  background: #787d80;
  background-image: -webkit-linear-gradient(top, #aaaaaa, #000000);
  background-image: -moz-linear-gradient(top, #aaaaaa, #000);
  background-image: -ms-linear-gradient(top, #aaaaaa, #000);
  background-image: -o-linear-gradient(top, #787d80, #000);
  background-image: linear-gradient(to bottom, #787d80, #000);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  padding: 10px 30px 10px 30px;
  margin: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #fc3c6c;
  background-image: -webkit-linear-gradient(top, #fc3c6c, #db1c1c);
  background-image: -moz-linear-gradient(top, #fc3c6c, #db1c1c);
  background-image: -ms-linear-gradient(top, #fc3c6c, #db1c1c);
  background-image: -o-linear-gradient(top, #fc3c6c, #db1c1c);
  background-image: linear-gradient(to bottom, #fc3c6c, #db1c1c);
  text-decoration: none;
}

